<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>GoogleSheetQL</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <div class="row mb-2">
    <div class="col-12 flex mt-4">
      <form action="/" method="POST">
        <div class="from-group">
          <div th:if="${message}">
            <strong th:text="${message}" class="alert alert-danger"></strong>
          </div>
          <div th:if="${flashError}" class="alert alert-danger">
            <strong th:text="${flashError.getLocalizedMessage()}"></strong>
          </div>
          <div class="input-group">
            <input class="form-control" type="text" name="query">
            <button class="ml-1 btn btn-xs btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-hover">
        <tr>
          <th th:each="column : ${table.getHeaders().getContent()}" th:text="${column}"></th>
        </tr>
        <tr th:each="row : ${table.getTableContent()}">
          <td th:each="row_col : ${row.getContent()}" th:text="${row_col}"></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div th:if="${fleshMessage}" class="alert alert-success">
        <strong th:text="${fleshMessage}"></strong>
      </div>
      <form action="/refresh" method="POST">
        <p>Refresh google sheet data</p>
        <button class="btn btn-success btn-xs">Refresh</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>